@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer{
  .lamp-1{
    background: linear-gradient(207deg, #fff 61.15%, #08335e 121.67%);
    background-clip: text;
    -webkit-background-clip: text;
}
.lamp-2 {
  background: linear-gradient(187deg, #fff 31.25%, rgba(176, 186, 201, .95) 78.03%, rgba(128, 142, 164, .9) 106.62%);
  background-clip: text;
  -webkit-background-clip: text;
}
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
